.line{
    font-size: var(--textSizeMain);
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.line section ol li{
    font-family: acuta,serif;
    font-weight: 400;
    font-size: calc(var(--textSizeMain) + 5px);
}
.one section:first-child{
    text-align: justify;
    width: 55%;
}
p{
    margin: 20px 0;
}
.one section p::first-letter{
    font-size: calc(var(--textSizeMain) + 15px);
}
h2{
    font-family: 'Zilla Slab', serif;
    font-size: calc(var(--textSizeTitle) - 10px);
    color: var(--titleColor);
    text-align: center;
    transition: var(--time);
}
h2.title-benefits{
    text-align: left;
    margin: 0 0 0 20px;
}
.two .benefits{
    font-family: 'acuta', sans-serif;
    font-size: calc(var(--textSizeMain) + 5px);
    margin: 0 auto;
}
.two section:last-child{
    width: 30%;
}