body{
    font-family: 'Quicksand', sans-serif;
}
nav{
    position: fixed;
    width: 100%;
    transition: var(--time);
    background-color: var(--mainColor);
}
nav ul{
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 80%;
}
nav ul li a{
    display:block;
    padding: 15px;
    font-size: var(--textSizeNav);
    color: inherit;
    text-decoration: none;
    transition: 0.5s;
    color: var(--colorText);
}
nav ul li a:hover{
    background-color: #5f151611;
}